@font-face {
  font-family: 'inception';
  src: url("../fonts/inception.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'classybeautiful';
  src: url("../fonts/classybeautiful.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@media only screen and (max-width: 479px) {
  #bkgrd-mobile {
    position: absolute;
    width: 100%;
    z-index: -10;
    margin: 0;
    padding: 0px; }

  #bkgrd-tablet {
    display: none; }

  #bkgrd-desktop {
    display: none; }

  #home-logo {
    width: 350px;
    height: auto;
    margin: 0 auto;
    margin-left: 7%;
    margin-top: 20%;
    position: relative; }

  #login-buttons {
    text-align: center;
    text-transform: uppercase;
    font-family: "Avenir Next", Helvetica, sans-serif;
    border-color: #00EEFF;
    border: 5px; }

  #login-buttons a {
    text-align: center;
    text-transform: uppercase;
    font-family: "Avenir Next", Helvetica, sans-serif;
    background: #ffffff;
    padding: 7px 40px 7px 40px;
    border-style: solid;
    border-radius: 10px;
    border-color: #00EEFF;
    border-width: 2px;
    margin: 10px;
    color: #000; }

  #roku-logo {
    margin: 0 auto;
    width: 70px;
    height: auto;
    margin-top: 100px;
    border: none; } }
@media only screen and (min-width: 480px) and (max-width: 1023px) {
  #bkgrd-mobile {
    display: none; }

  #bkgrd-tablet {
    position: absolute;
    width: 100%;
    z-index: -10;
    margin: 0;
    padding: 0px; }

  #bkgrd-desktop {
    display: none; }

  #home-logo {
    width: 600px;
    height: auto;
    margin: 0 auto;
    margin-left: 10%;
    margin-top: 30%; }

  #login-buttons {
    text-align: center;
    text-transform: uppercase;
    font-family: "Avenir Next", Helvetica, sans-serif;
    margin-top: 10%; }

  #login-buttons a {
    text-align: center;
    text-transform: uppercase;
    font-family: "Avenir Next", Helvetica, sans-serif;
    background: #ffffff;
    padding: 7px 50px 7px 50px;
    border-radius: 10px;
    border-color: #00EEFF;
    border-width: 2px;
    border: 5px;
    margin: 30px;
    color: #000; }

  #roku-logo {
    margin: 0 auto;
    width: 100px;
    height: auto;
    margin-top: 45%;
    border: none; } }
@media only screen and (min-width: 1024px) {
  #bkgrd-mobile {
    display: none; }

  #bkgrd-tablet {
    display: none; }

  #bkgrd-desktop {
    position: absolute;
    width: 100%;
    z-index: -10;
    margin: 0;
    padding: 0px; }

  #home-logo {
    width: 500px;
    height: auto;
    margin: 0 auto;
    margin-left: 33%;
    margin-top: 10%; }

  #login-buttons {
    display: none; }

  #roku-logo {
    margin: 0 auto;
    width: 100px;
    height: auto;
    margin-top: 125px;
    border: none; } }
hide {
  display: none; }

.welcome-message {
  text-align: center;
  font-size: 2em;
  margin-bottom: 40px; }

ul {
  width: 90;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px; }

ul li {
  display: inline-block;
  padding: 0 8px; }

a {
  text-decoration: none; }

a img {
  width: 180px;
  border: thin solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  margin-bottom: 6px; }

video {
  width: 100%; }

instructions {
  padding-top: 45px;
  text-align: center;
  font-size: 1.8em; }

.hidden-movies {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.7s;
  max-height: 0; }

.show-movie {
  max-height: 1200px; }

.more-details {
  display: block;
  padding: 7px 8px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 8px;
  background: orange;
  color: white; }

.movie-title {
  font-size: 2.5em;
  text-align: center;
  margin-top: 100px; }

.movie-details {
  padding-left: 12px;
  padding-top: 12px;
  margin-bottom: 40px; }

.movie-details h3 {
  margin-top: 8px;
  margin-bottom: 12px; }

.movie-details p {
  text-align: center; }

.up-arrow {
  text-align: center; }

.up-arrow span {
  font-size: 2em;
  padding: 8px 15px 8px;
  border-radius: 50%;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  display: none; }

.show-scroller {
  display: inline-block !important; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 40px 0 20px; }

/*# sourceMappingURL=main.css.map */
